.post {
    margin: 0 8px 16px;
    padding: 16px;
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    /* display: flex; */
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
    display: inline-block;
}
.date-footer{
    position: relative;
    float: right;
}