.post {
    margin: 0 8px 16px;
    padding: 16px;
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    width: 20vw;
    height: 60vh;
    /* display: flex; */
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
    display: inline-block;
    flex-shrink: 0;
    animation: post 2s;
}
.mat-card-image{
    width: 22.7vw;
    height: 45vh;
}
.date-footer{
    position: relative;
    float: right;
}