.post {
    margin: 0 8px 16px;
    padding: 16px;
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    width: 20vw;
    /* display: flex; */
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
    display: inline-block;
    flex-shrink: 0;
    transform: perspective(500px) rotateY(25deg);
    animation: post 2s;
}
@keyframes post {

    0% {
        transform:  perspective(500px) rotateY(0deg);

    }

    100% {
        transform: perspective(500px) rotateY(25deg);
    }
}
.date-footer{
    position: relative;
    float: right;
}